openapi: 3.0.1
info:
  title: Sessionwire API
  version: 1.0.0
servers:
  - url: https://community.sessionwire.com/api/v1
security:
    - api_key: []
tags:
  - name: user
    description: User Operations
  - name: url
    description: Application URLs
paths:
  /user:
    post:
      tags:
        - user
      summary: Create a user
      description: Create a user.
      requestBody:
        description: The required user fields.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginToken'
        '400':
          description: Invalid request
        '403':
          description: User exists
        '500':
          description: Internal server error
      security:
        - api_key: []
  /user/token:
    get:
      tags:
        - user
      summary: Get a login token
      description: Get a single use login token for a user.
      parameters:
        - name: email
          in: query
          description: The user email address
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: The user password
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginToken'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      security:
        - api_key: []
  /url:
    get:
      tags:
        - url
      summary: Get application URLs
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLs'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
      security:
        - api_key: []
components:
  schemas:
    User:
      type: object
      properties:
        displayName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
    LoginToken:
      properties:
        loginToken:
          type: string
    URLs:
      type: object
      properties:
        mac:
          type: string
        win:
          type: string
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
